{% extends "wireium/base_2.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br><br>
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-info btn-sm" type="submit">
                    Confirm
                </button>
            </div>
        </form>
    </div>
{% endblock content %}